# Dependências
node_modules/

# Build
dist/

# Ambiente
.env
.env.local

# Logs
*.log
logs/

# Editor/IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Testes
coverage/
.nyc_output/

# NestJS
*.swp
*.swo